html,body{

width:100%; height:100%;

margin: 0;
padding: 0;

}

#map_canvas{

width:100%;

height:100%

min-height:100%;

margin: 0;

}

#link_text{
    position: fixed;
    top: 20px;
    width: 180px;
    height: 60px;
    background-color: #ffffff;
    left: calc(50% - 90px);
    left: -webkit-calc(50% - 90px);
    left: -moz-calc(50% - 90px);
    left: -o-calc(50% - 90px);
    color: #FFFFFF;
	text-align: center;
	display: block;
    z-index: 11;
    padding: 7px 10px 0 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border: 3px solid #0000FF;
}

#tel_mode{
    position: fixed;
    top: calc(50% - 50px);
    top: -webkit-calc(50% - 50px);
    top: -moz-calc(50% - 50px);
    top: -o-calc(50% - 50px);
    width: 300px;
    height: 100px;
    background-color: #ffffff;
    left: calc(50% - 150px);
    left: -webkit-calc(50% - 150px);
    left: -moz-calc(50% - 150px);
    left: -o-calc(50% - 150px);
    color: #000000;
	text-align: left;
	display: none;
    z-index: 11;
    padding: 7px 10px 0 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border: 3px solid #0000FF;
}

#mln{
	cursor: pointer;
	line-height: 0px;
}

.fa-phone{
	background:#01DFD7;
	color: #fff;
	width: 40px;
	height: 40px;
	vertical-align: middle;
}

   #cross {
         position: fixed;
         display: block;
         top: 50%;
         right: 50%;
         left: 50%;
         bottom: 50%
         z-index: 11;

    }
    
    #img_cross {
	margin-top: -16px;
	margin-left: -16px;
}

.oc{
	cursor: pointer;
	border: 1px solid #000000;
	padding: 0 3px 0 3px;
	margin: 3px 0 0 0;
}

#ttel{
	margin: 0 0 5px 0;
}