/*label{

	cursor: pointer;

}

#menu_toggle{

	margin: 0;
	padding: 0;
	display: none;
	border: 1px solid #ffffff;
	color:#ffffff;
}

#menu{

	margin: 0;
	padding: 0;
	display: none;
	border; 1px solid #ffffff;

}

#menu_toggle:checked + #menu{

	display: block;

}

#header{

	width: 100%;
	margin: 0;
	padding: 0;
	position: fixed;
	z-index: 10;
	background-color: #1abc9c;

}

a{
	text-decoration: none;
}

ul{

	list-style: none;
	padding: 0;
	-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;

}

li{

	list-style: none;
	padding: 0;
	border: 1px solid #ffffff;
	color: #000000;
}

.link{

	display:block;
	padding: 0 0 0 10px;
	height: 50px;
	line-height: 50px;
	color: #000000;
}

	#menu li:nth-child(even){
	background:#e6e6e6;
	
	}
	
	#menu li:nth-child(odd){
	background:#ffffff;
	
	}

.lmt{

	display:block;
	padding: 0 0 0 10px;
	height: 50px;
	line-height: 50px;
	color: #ffffff;
}*/

body {
    position: relative;
    right: 0;
    overflow-x: hidden;
}

#slide_menu{
    position: fixed;
    top: 0;
    right: -240px;
    width: 240px;
    height: 100%;
    background: #1a1a1a;
    color: #ffffff;

}

.link{

	display:block;
	padding: 0 0 0 0;
	height: 50px;
	line-height: 50px;
	color: #ffffff;
}

li{
	list-style: none;
	padding: 0;

}

a{
	color: #ffffff;
	text-decoration: none;
}

#button{
	position:absolute;
	top: 10px;
	right: 10px;
	width:40px;
	height:40px;
	z-index: 10;
}

#header{
	width: 100%;
	margin: 0;
	padding: 0;
	position: fixed;
	z-index: 10;

}
